/* index.css */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  color: white;
  background-color: #222425;
  min-height: 100vh;
}

.icon {
  height: 120px;
  width: 120px;
}
