* {
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden; /* This prevents horizontal scrolling */
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  width: 100vw;
}
